<div class="card">
  <div class="card-header">
    <h2>User Component</h2>
  </div>
  <div class="card-body table-reponsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>HTML Url</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngIf="(repos | async) as repoos; else elb"> -->
          <tr *ngFor="let repo of repos;">
            <td>{{repo.id}}</td>
            <td>{{repo.name}}</td>
            <td>{{repo.html_url}}</td>
            <td>{{repo.description}}</td>
          </tr>
        <!-- </ng-container>
        <ng-template #elb>
          <p>Loading Please wait...</p>
        </ng-template> -->
      </tbody>
    </table>
  </div>
</div> 

